mixin top-nav 
  nav.main-nav#top-nav
    a(href="/") Homepage
    a(href="/about") About
    a(href="/blog") Blog
    a(href="/work") Work

mixin side-nav 
  nav.main-nav#side-nav
    a(href="/") Homepage
    a(href="/about") About
    a(href="/blog") Blog
    a(href="/work") Work
    a(href="/unexisting") Unexisting

mixin bottom-nav 
  nav.secondary-nav#bottom-nav
  a(href="/") Homepage
  a(href="/about") About