extends layout.pug 

block content
  article 
    h1 About the application 
    p All men and beasts, lions, eagles, and quails, horned stags, geese, spiders, silent fish that inhabit the waves, starfish from the sea, and creatures invisible to the eye—in one word, life—all, all life, completing the dreary round imposed upon it, has died out at last. A thousand years have passed since the earth last bore a living creature on her breast, and the unhappy moon now lights her lamp in vain. No longer are the cries of storks heard in the meadows, or the drone of beetles in the groves of limes. All is cold, cold. All is void, void, void. All is terrible, terrible—[A pause] The bodies of all living creatures have dropped to dust, and eternal matter has transformed them into stones and water and clouds; but their spirits have flowed together into one, and that great world-soul am I! In me is the spirit of the great Alexander, the spirit of Napoleon, of Caesar, of Shakespeare, and of the tiniest leech that swims. In me the consciousness of man has joined hands with the instinct of the animal; I understand all, all, all, and each life lives again in me.