html 
  head 
    title= title 
    link(rel='stylesheet' href='style.css')
  body 
    include components/header.pug
    main 
      h1= message
    include components/footer.pug
    script(src='script.js') 