section#blog 
  h2
    a(href="/blog") My blog
  ul
    li 
      a(href="/blog/design/", class="category") Design
      a(href="/blog/design/first-article", class="article") First article
    li 
      a(href="/blog/development/", class="category") Development
      a(href="/blog/development/second-article", class="article") Second article
    li 
      a(href="/blog/architecture/", class="category") Architecture
      a(href="/blog/architecture/third-article", class="article") Third article