section#portfolio
  #demo
    h2 My work 
    #project
      .frame
        span [Website]
      include ../components/stepper.pug
  #list
    h2 
      a(href="/portfolio") Some of the projects that I've done:
    ul
      li 
        a(href="/portfolio/first-work") First work
      li 
        a(href="/portfolio/second-work") Second work
      li 
        a(href="/portfolio/third-work") Third work