section#work
  h2 My approach 
  #project [PROJECT TIMELINE]
  
  h2 
    a(href="/work") Previous work 
  ul
    li 
      a(href="/work/first-work") First work
    li 
      a(href="/work/second-work") Second work
    li 
      a(href="/work/third-work") Third work