extends ../layout.pug 

block content
  nav.breadcrumbs
    | 
    a(href="/blog") Blog
    |  / 
    a(href=`/blog/${category}`) #{category}
  
  article 
    h1 [Article]
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odio dolorum officiis maiores perferendis? Labore numquam exercitationem consequatur placeat laudantium. Commodi consequatur culpa temporibus est? Consequatur quod culpa vero, sint voluptate quis.
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat accusantium, cupiditate nostrum tempora neque itaque id alias doloribus consequuntur corrupti rem, labore incidunt numquam natus, corporis amet in enim possimus cumque repellat? Nulla dicta expedita distinctio accusantium rem nobis voluptatibus? Quae quos ipsa odit nemo, veritatis delectus reprehenderit.
  