extends ../layout.pug 

block content
  h1 My work 
  
  ul 
    li 
      a(href="/portfolio/first") First work
    li 
      a(href="/portfolio/second") Second work
    li 
      a(href="/portfolio/third") Third work